.apppane {
    -fx-background-color: #F6F6F6;
}

.title {
    -fx-font-family: 'Google Sans Bold';
    -fx-fill: #555BFF;
    -fx-font-size: 50px;
}

.subtitle {
    -fx-font-family: 'Google Sans Bold';
    -fx-fill: #555BFF;
    fx-font-size: 20px;
    -fx-text-alignment: center;
}

.body-text {
    -fx-font-family: 'Google Sans';
    -fx-font-size: 15px;
    -fx-text-alignment: center;
}

.mediumText {
    -fx-font-family: 'Google Sans Bold';
    -fx-fill: #555BFF;
    -fx-font-size: 35px;
}

.listNumbers {
    -fx-font-family: 'Google Sans Bold';
    -fx-fill: black;
    -fx-font-size: 25px;
}


.smallText {
    -fx-font-family: 'Google Sans Bold';
    -fx-fill: #555BFF;
    -fx-font-size: 15px;
}

.blueButton {
    -fx-background-color: #555BFF;
    -fx-background-radius: 13px;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Google Sans Bold';
    -fx-font-size: 15px;
}

.backBar {
    -fx-fill: #FFFFFF;
}

.smallWhiteText {
    -fx-font-family: 'Google Sans Bold';
    -fx-fill: #FFFFFF;
    -fx-font-size: 15px;
}

.listTitle {
    -fx-font-family: 'Google Sans Bold';
    -fx-fill: grey;
    -fx-font-size: 15px;
}

.buttonTitle {
    -fx-font-family: 'Google Sans Bold';
    -fx-fill: white;
    -fx-font-size: 12px;
}

.card {
    -fx-fill: white;
    -fx-background-color: white;
    -fx-background-radius: 7px;
    -fx-text-fill: black;
    -fx-font-family: 'Google Sans Bold'
}

.bounceRateText {
    -fx-font-family: 'Google Sans Bold';
    -fx-fill: Black;
    -fx-font-size: 10px;
}

.error-text {
    -fx-font-family: 'Google Sans Bold';
    -fx-fill: #000000;
    -fx-font-size: 25px;
}

.alert {
    -fx-background-color: #FFFFFF;
    -fx-padding: 17px;
    -fx-border-color: Red;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-radius: 23px;
    -fx-background-radius: 23px;
    -fx-effect: dropshadow(gaussian, rgba(255,0,0,0.3), 20, 0, 0, 0);
    -fx-margin-top: 20px;
}