.apppane {
    -fx-background-color: #F6F6F6;
}

.title {
    -fx-font-family: 'Google Sans Bold';
    -fx-fill: #4B51FF;
    -fx-font-size: 60px;
}

.subtitle {
    -fx-font-family: 'Google Sans Bold';
    -fx-fill: #4B51FF;
    -fx-font-size: 22px;
    -fx-width: 50px;
}

.text {
    -fx-font-family: 'Google Sans Bold';
    -fx-fill: #4B51FF;
    -fx-font-size: 35px;
}
.listNumbers {
    -fx-font-family: 'Google Sans Bold';
    -fx-fill: black;
    -fx-font-size: 25px;
}


.smallText {
    -fx-font-family: 'Google Sans Bold';
    -fx-fill: #4B51FF;
    -fx-font-size: 5px;
}

.listTitle {
    -fx-font-family: 'Google Sans Bold';
    -fx-fill: grey;
    -fx-font-size: 15px;
}
.buttonTitle {
    -fx-font-family: 'Google Sans Bold';
    -fx-fill: white;
    -fx-font-size: 12px;
}